body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  color: #343a40;
}

.container {
  max-width: 1200px;
}

h1,
h2 {
  color: #007bff;
}

.d-flex.flex-wrap {
  gap: 10px;
}
/* .card-header.bg-primary {
  background-color: #050f29 !important;
} */

/*
.btn-success {
  background-color: #28a745;
  border-color: #28a745;
}
.btn-danger {
  background-color: #dc3545;
  border-color: #dc3545;
}
.btn-warning {
  background-color: #ffc107;
  border-color: #ffc107;
  color: #212529;
}
*/
/*
.table-responsive .table {
  border-radius: .5rem;
  overflow: hidden;
}
*/
